.sec1 {
  position: relative;
  width: 100%;
}

.svg-container {
  position: absolute;
  width: 100%;
}

@media only screen and (min-width: 440px) {
    .sec1 {
  width: 10%;
}
    .svg-container {
        width: 10%;
    }
}
